<a href="https://colab.research.google.com/github/Riccardolotorto/Python/blob/main/VerificaPandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. caricare i dati del file in un dataframe Pandas

In [8]:
import pandas as pd 
df = pd.read_csv("https://raw.githubusercontent.com/wtitze/3E/main/2010.csv", delimiter = ";")

In [2]:
df

,Title,Year,Genres,Language,Country,Content Rating,Duration,Aspect Ratio,Budget,Gross Earnings,...,Facebook Likes - Actor 2,Facebook Likes - Actor 3,Facebook Likes - cast Total,Facebook likes - Movie,Facenumber in posters,User Votes,Reviews by Users,Reviews by Crtiics,IMDB Score,Unnamed: 25
0,127 Hours,2010.0,Adventure|Biography|Drama|Thriller,English,USA,R,94.0,"1,85",18000000.0,18329466.0,...,642.0,223.0,11984,63000,0.0,279179,440.0,450.0,"7,6",NaN
1,3 Backyards,2010.0,Drama,English,USA,R,88.0,NaN,300000.0,NaN,...,659.0,301.0,1884,92,0.0,554,23.0,20.0,"5,2",NaN
2,3,2010.0,Comedy|Drama|Romance,German,Germany,Unrated,119.0,"2,35",NaN,59774.0,...,20.0,9.0,69,2000,0.0,4212,18.0,76.0,"6,8",NaN
3,8: The Mormon Proposition,2010.0,Documentary,English,USA,R,80.0,"1,78",2500000.0,99851.0,...,12.0,5.0,210,0,0.0,1138,30.0,28.0,"7,1",NaN
4,A Turtle's Tale: Sammy's Adventures,2010.0,Adventure|Animation|Family,English,France,PG,88.0,"2,35",NaN,NaN,...,749.0,602.0,3874,0,2.0,5385,22.0,56.0,"6,1",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1599,War & Peace,NaN,Drama|History|Romance|War,English,UK,TV-14,NaN,16,NaN,NaN,...,888.0,502.0,4528,11000,1.0,9277,44.0,10.0,"8,2",NaN
1600,Wings,NaN,Comedy|Drama,English,USA,NaN,30.0,"1,33",NaN,NaN,...,511.0,424.0,1884,1000,5.0,7646,56.0,19.0,"7,3",NaN
1601,Wolf Creek,NaN,Drama|Horror|Thriller,English,Australia,NaN,NaN,2,NaN,NaN,...,457.0,206.0,1617,954,0.0,726,6.0,2.0,"7,1",NaN
1602,Wuthering Heights,NaN,Drama|Romance,English,UK,NaN,142.0,NaN,NaN,NaN,...,698.0,427.0,29196,0,2.0,6053,33.0,9.0,"7,7",NaN
1603,Yu-Gi-Oh! Duel Monsters,NaN,Action|Adventure|Animation|Family|Fantasy,Japanese,Japan,NaN,24.0,NaN,NaN,NaN,...,NaN,NaN,0,124,0.0,12417,51.0,6.0,7,NaN

 2. visualizzare le colonne del titolo e del genere dei primi 10 film

In [3]:
df.head(10)[["Title", "Genres"]]

,Title,Genres
0,127 Hours,Adventure|Biography|Drama|Thriller
1,3 Backyards,Drama
2,3,Comedy|Drama|Romance
3,8: The Mormon Proposition,Documentary
4,A Turtle's Tale: Sammy's Adventures,Adventure|Animation|Family
5,Alice in Wonderland,Adventure|Family|Fantasy
6,Alice in Wonderland,Adventure|Family|Fantasy
7,All Good Things,Crime|Drama|Mystery|Romance|Thriller
8,Alpha and Omega,Adventure|Animation|Comedy|Family|Romance
9,Amigo,Drama|War

3.  visualizzare le colonne del titolo e del genere dei primi 10 film in un modo diverso dal precedente

In [4]:
df[:10][["Title", "Genres"]]

,Title,Genres
0,127 Hours,Adventure|Biography|Drama|Thriller
1,3 Backyards,Drama
2,3,Comedy|Drama|Romance
3,8: The Mormon Proposition,Documentary
4,A Turtle's Tale: Sammy's Adventures,Adventure|Animation|Family
5,Alice in Wonderland,Adventure|Family|Fantasy
6,Alice in Wonderland,Adventure|Family|Fantasy
7,All Good Things,Crime|Drama|Mystery|Romance|Thriller
8,Alpha and Omega,Adventure|Animation|Comedy|Family|Romance
9,Amigo,Drama|War

4. visualizzare i film in inglese realizzati in Francia

In [6]:
df[(df["Language"] == "English") & (df["Country"] == "France")]

,Title,Year,Genres,Language,Country,Content Rating,Duration,Aspect Ratio,Budget,Gross Earnings,...,Facebook Likes - Actor 2,Facebook Likes - Actor 3,Facebook Likes - cast Total,Facebook likes - Movie,Facenumber in posters,User Votes,Reviews by Users,Reviews by Crtiics,IMDB Score,Unnamed: 25
4,A Turtle's Tale: Sammy's Adventures,2010.0,Adventure|Animation|Family,English,France,PG,88.0,"2,35",NaN,NaN,...,749.0,602.0,3874,0,2.0,5385,22.0,56.0,"6,1",NaN
59,From Paris with Love,2010.0,Action|Thriller,English,France,R,92.0,"2,35",52000000.0,23324666.0,...,135.0,75.0,488,0,1.0,97775,211.0,203.0,"6,5",NaN
64,Green Zone,2010.0,Action|Drama|Thriller|War,English,France,R,115.0,"2,35",100000000.0,35024475.0,...,537.0,95.0,13761,0,1.0,110364,261.0,266.0,"6,9",NaN
139,Rubber,2010.0,Comedy|Fantasy|Horror,English,France,R,82.0,"1,85",500000.0,98017.0,...,248.0,196.0,1498,46000,0.0,26185,170.0,230.0,"5,8",NaN
179,The Ghost Writer,2010.0,Mystery|Thriller,English,France,PG-13,128.0,"2,35",45000000.0,15523168.0,...,766.0,501.0,2507,15000,2.0,132423,349.0,343.0,"7,2",NaN
185,The Last Exorcism,2010.0,Drama|Horror|Thriller,English,France,PG-13,87.0,"1,85",1800000.0,40990055.0,...,400.0,308.0,1958,0,0.0,41509,300.0,311.0,"5,6",NaN
262,Carnage,2011.0,Comedy|Drama,English,France,R,80.0,"2,35",25000000.0,NaN,...,11000.0,132.0,25143,21000,3.0,96480,181.0,376.0,"7,2",NaN
266,Colombiana,2011.0,Action|Crime|Drama|Thriller,English,France,PG-13,112.0,"2,35",40000000.0,36665854.0,...,738.0,674.0,3432,15000,0.0,76498,203.0,201.0,"6,4",NaN
374,Silent House,2011.0,Drama|Horror|Mystery|Thriller,English,France,R,86.0,"1,85",2000000.0,12555230.0,...,44.0,32.0,218,0,0.0,18566,154.0,218.0,"5,3",NaN
391,The Artist,2011.0,Comedy|Drama|Romance,English,France,PG-13,100.0,"1,33",15000000.0,44667095.0,...,897.0,628.0,4606,30000,0.0,190030,583.0,576.0,8,NaN
432,Tinker Tailor Soldier Spy,2011.0,Drama|Mystery|Thriller,English,France,R,127.0,"2,35",20000000.0,24104113.0,...,14000.0,10000.0,46241,24000,1.0,149066,517.0,466.0,"7,1",NaN
543,Lockout,2012.0,Action|Adventure|Sci-Fi|Thriller,English,France,PG-13,95.0,"2,35",20000000.0,14291570.0,...,447.0,80.0,1414,10000,2.0,82082,236.0,289.0,"6,1",NaN
550,Maniac,2012.0,Horror|Thriller,English,France,Not Rated,89.0,"2,35",6000000.0,12843.0,...,378.0,118.0,1233,0,0.0,27297,131.0,279.0,"6,1",NaN
558,On the Road,2012.0,Adventure|Drama,English,France,R,137.0,"2,35",25000000.0,717753.0,...,10000.0,4000.0,33747,27000,4.0,33107,128.0,252.0,"6,1",NaN
588,Silent Hill: Revelation 3D,2012.0,Adventure|Drama|Horror|Mystery|Thriller,English,France,R,95.0,"2,35",20000000.0,17529157.0,...,494.0,206.0,2173,25000,0.0,49888,220.0,173.0,5,NaN
604,Taken 2,2012.0,Action|Crime|Thriller,English,France,PG-13,98.0,"2,35",45000000.0,139852971.0,...,935.0,558.0,16410,63000,0.0,238671,461.0,358.0,"6,3",NaN
715,Blood Ties,2013.0,Crime|Drama|Thriller,English,France,R,144.0,"2,35",25500000.0,41229.0,...,960.0,745.0,18442,0,6.0,14612,41.0,91.0,"6,5",NaN
872,The Last Exorcism Part II,2013.0,Drama|Horror|Thriller,English,France,PG-13,93.0,"2,35",5000000.0,15152879.0,...,541.0,400.0,46868,0,0.0,13506,68.0,161.0,4,NaN
891,The Young and Prodigious T.S. Spivet,2013.0,Action|Adventure|Drama|Family,English,France,PG,105.0,"2,35",33000000.0,99462.0,...,648.0,223.0,1843,5000,1.0,11347,28.0,122.0,"7,1",NaN
912,Zulu,2013.0,Crime|Drama|Thriller,English,France,R,110.0,"2,35",16000000.0,NaN,...,170.0,44.0,5273,0,0.0,12817,43.0,69.0,"6,7",NaN
955,Brick Mansions,2014.0,Action|Crime|Drama|Thriller,English,France,PG-13,100.0,"2,35",28000000.0,20285518.0,...,727.0,561.0,25387,0,2.0,32103,112.0,177.0,"5,7",NaN
983,Escobar: Paradise Lost,2014.0,Crime|Drama|Romance|Thriller,English,France,R,120.0,NaN,17000000.0,106869.0,...,287.0,55.0,14492,0,1.0,13762,39.0,106.0,"6,6",NaN
1037,Lucy,2014.0,Action|Sci-Fi|Thriller,English,France,R,89.0,"2,35",40000000.0,126546825.0,...,11000.0,903.0,32325,83000,0.0,327367,918.0,433.0,"6,4",NaN
1088,Taken 3,2014.0,Action|Thriller,English,France,PG-13,115.0,"2,35",48000000.0,89253340.0,...,794.0,482.0,16967,38000,0.0,133436,323.0,222.0,6,NaN
1152,United Passions,2014.0,Drama|History|Sport,English,France,Not Rated,110.0,"2,35",24000000.0,NaN,...,919.0,432.0,2725,0,4.0,3279,22.0,7.0,2,NaN
1162,Wolves,2014.0,Action|Horror,English,France,R,91.0,"2,35",18000000.0,NaN,...,918.0,413.0,13545,0,2.0,5693,34.0,59.0,"5,3",NaN
1186,Bizarre,2015.0,Drama|Musical|Romance,English,France,Unrated,98.0,"1,78",500000.0,NaN,...,0.0,0.0,19,114,0.0,569,1.0,9.0,"4,3",NaN
1345,The Little Prince,2015.0,Adventure|Animation|Drama|Family|Fantasy,English,France,PG,108.0,"2,35",81200000.0,1339152.0,...,11000.0,6000.0,30230,31000,1.0,28276,64.0,119.0,"7,8",NaN
1362,The Transporter Refueled,2015.0,Action|Crime|Thriller,English,France,PG-13,96.0,"2,35",25000000.0,16027866.0,...,173.0,150.0,1411,0,0.0,26767,121.0,148.0,"5,1",NaN
1482,The Neon Demon,2016.0,Horror|Thriller,English,France,R,118.0,"2,35",7000000.0,1330827.0,...,860.0,500.0,19879,0,2.0,9866,73.0,253.0,7,NaN
1484,The Purge: Election Year,2016.0,Action|Horror|Sci-Fi|Thriller,English,France,R,109.0,"2,35",10000000.0,78845130.0,...,465.0,393.0,2480,0,1.0,17596,94.0,165.0,"6,1",NaN
1509,Carlos,NaN,Biography|Crime|Drama|Thriller,English,France,Not Rated,334.0,"2,35",NaN,145118.0,...,30.0,30.0,1032,0,0.0,10111,36.0,108.0,"7,7",NaN

5.  visualizzare i film di guerra drammatici

In [10]:
df[df["Genres"] == "Drama|War"]

,Title,Year,Genres,Language,Country,Content Rating,Duration,Aspect Ratio,Budget,Gross Earnings,...,Facebook Likes - Actor 2,Facebook Likes - Actor 3,Facebook Likes - cast Total,Facebook likes - Movie,Facenumber in posters,User Votes,Reviews by Users,Reviews by Crtiics,IMDB Score,Unnamed: 25
9,Amigo,2010.0,Drama|War,English,USA,R,124.0,NaN,1700000.0,183490.0,...,8.0,7.0,60,594,0.0,463,8.0,35.0,"5,8",NaN
142,Sarah's Key,2010.0,Drama|War,French,France,PG-13,111.0,"2,35",10000000.0,7691700.0,...,767.0,121.0,2140,0,2.0,12937,73.0,136.0,"7,5",NaN
438,War Horse,2011.0,Drama|War,English,USA,PG-13,146.0,"2,35",66000000.0,79883359.0,...,19000.0,979.0,46726,28000,1.0,116159,488.0,388.0,"7,2",NaN
844,The Book Thief,2013.0,Drama|War,English,USA,PG-13,131.0,"2,35",19000000.0,21483154.0,...,526.0,326.0,1985,53000,1.0,98741,236.0,252.0,"7,6",NaN
1122,The Monuments Men,2014.0,Drama|War,English,USA,PG-13,118.0,"2,35",70000000.0,78031620.0,...,13000.0,559.0,27674,34000,7.0,102248,403.0,371.0,"6,1",NaN
1138,The Water Diviner,2014.0,Drama|War,English,Australia,R,111.0,"2,35",22500000.0,4190530.0,...,468.0,234.0,1795,18000,0.0,53341,185.0,183.0,"7,1",NaN
1267,Little Boy,2015.0,Drama|War,English,Mexico,PG-13,106.0,"2,35",20000000.0,6420319.0,...,1000.0,975.0,5705,15000,0.0,15978,122.0,45.0,"7,4",NaN
1514,Deadline Gallipoli,NaN,Drama|War,English,Australia,NaN,197.0,NaN,15000000.0,NaN,...,476.0,110.0,1400,367,0.0,299,1.0,NaN,"7,4",NaN

6. visualizzare i film fantasy e i thriller

In [11]:
df[(df["Genres"] == "Fantasy") | (df["Genres"] == "Thriller")]

,Title,Year,Genres,Language,Country,Content Rating,Duration,Aspect Ratio,Budget,Gross Earnings,...,Facebook Likes - Actor 2,Facebook Likes - Actor 3,Facebook Likes - cast Total,Facebook likes - Movie,Facenumber in posters,User Votes,Reviews by Users,Reviews by Crtiics,IMDB Score,Unnamed: 25
69,Harry Potter and the Deathly Hallows: Part I,2010.0,Fantasy,English,UK,NaN,NaN,NaN,NaN,NaN,...,2000.0,1000.0,14719,25,1.0,252,2.0,4.0,"6,4",NaN
255,Below Zero,2011.0,Thriller,English,Canada,R,99.0,NaN,1200000.0,NaN,...,134.0,5.0,862,161,2.0,652,11.0,18.0,"4,5",NaN
488,Cirque du Soleil: Worlds Away,2012.0,Fantasy,English,USA,PG,91.0,NaN,NaN,12495865.0,...,31.0,31.0,539,0,0.0,7100,35.0,73.0,"6,8",NaN
602,Supercapitalist,2012.0,Thriller,English,USA,Not Rated,102.0,NaN,NaN,13220.0,...,303.0,46.0,892,115,0.0,289,9.0,20.0,"3,9",NaN
739,Enter the Dangerous Mind,2013.0,Thriller,English,USA,NaN,88.0,"2,35",800000.0,NaN,...,715.0,471.0,4469,406,0.0,704,9.0,17.0,"5,2",NaN
816,Plush,2013.0,Thriller,English,USA,R,99.0,"1,78",NaN,2843.0,...,449.0,395.0,2341,604,2.0,2895,24.0,18.0,"5,4",NaN
877,The Maid's Room,2013.0,Thriller,English,USA,NaN,98.0,NaN,600000.0,NaN,...,448.0,233.0,1707,128,0.0,719,9.0,8.0,"4,5",NaN
1034,Locker 13,2014.0,Thriller,English,USA,R,95.0,"1,85",300000.0,2468.0,...,665.0,309.0,2048,261,3.0,241,5.0,10.0,"4,8",NaN
1099,The Calling,2014.0,Thriller,English,USA,R,108.0,NaN,NaN,NaN,...,1000.0,826.0,4385,0,2.0,6025,28.0,48.0,"5,8",NaN
1100,The Calling,2014.0,Thriller,English,USA,R,108.0,NaN,NaN,NaN,...,1000.0,826.0,4385,0,2.0,6025,28.0,48.0,"5,8",NaN
1184,AWOL-72,2015.0,Thriller,English,USA,R,82.0,NaN,3000000.0,NaN,...,779.0,648.0,4092,398,4.0,520,8.0,6.0,"3,9",NaN
1307,Shark Lake,2015.0,Thriller,English,USA,Not Rated,92.0,NaN,2000000.0,NaN,...,1000.0,412.0,13583,728,0.0,838,17.0,18.0,"3,4",NaN
1452,Our Kind of Traitor,2016.0,Thriller,English,UK,R,108.0,"2,35",NaN,3108216.0,...,104.0,100.0,540,0,2.0,2587,21.0,134.0,"6,4",NaN

7. visualizzare il budget complessivo dei film realizzati in Spagna

In [15]:
df[df["Country"] == "Spain"]["Budget"].sum()

150000000.0

8. visualizzare il numero di film di guerra realizzati in Spagna

In [18]:
df[(df["Country"] == "Spain") & (df["Genres"] == "War")]["Genres"].count()

0

9. visualizzare i titoli dei film di cui non si conosce il budget

In [19]:
df[df["Budget"].isnull()][["Title"]]

                                     Title
2                                       3
4     A Turtle's Tale: Sammy's Adventures
7                         All Good Things
11                         Animals United
13                       Barney's Version
...                                    ...
1599              War & Peace
1600                    Wings
1601               Wolf Creek
1602        Wuthering Heights
1603  Yu-Gi-Oh! Duel Monsters

[254 rows x 1 columns]

10. visualizzare i titoli dei film e il relativo regista. Ordinare a partire dal film che ha il budget più alto

In [22]:
df.sort_values(by=["Budget"], ascending = False)

,Title,Year,Genres,Language,Country,Content Rating,Duration,Aspect Ratio,Budget,Gross Earnings,...,Facebook Likes - Actor 2,Facebook Likes - Actor 3,Facebook Likes - cast Total,Facebook likes - Movie,Facenumber in posters,User Votes,Reviews by Users,Reviews by Crtiics,IMDB Score,Unnamed: 25
90,Kites,2010.0,Action|Drama|Romance|Thriller,English,India,NaN,90.0,NaN,600000000.0,1602466.0,...,412.0,303.0,1836,0,0.0,9673,106.0,41.0,6,NaN
534,John Carter,2012.0,Action|Adventure|Sci-Fi,English,USA,PG-13,132.0,"2,35",263700000.0,73058679.0,...,632.0,530.0,1873,24000,1.0,212204,738.0,462.0,"6,6",NaN
163,Tangled,2010.0,Adventure|Animation|Comedy|Family|Fantasy|Musi...,English,USA,PG,100.0,"1,85",260000000.0,200807262.0,...,553.0,284.0,2036,29000,1.0,294810,387.0,324.0,"7,8",NaN
351,Pirates of the Caribbean: On Stranger Tides,2011.0,Action|Adventure|Fantasy,English,USA,PG-13,136.0,"2,35",250000000.0,241063875.0,...,11000.0,1000.0,54083,58000,4.0,370704,484.0,448.0,"6,7",NaN
618,The Dark Knight Rises,2012.0,Action|Thriller,English,USA,PG-13,164.0,"2,35",250000000.0,448130642.0,...,23000.0,23000.0,106759,164000,0.0,1144337,2701.0,813.0,"8,5",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1599,War & Peace,NaN,Drama|History|Romance|War,English,UK,TV-14,NaN,16,NaN,NaN,...,888.0,502.0,4528,11000,1.0,9277,44.0,10.0,"8,2",NaN
1600,Wings,NaN,Comedy|Drama,English,USA,NaN,30.0,"1,33",NaN,NaN,...,511.0,424.0,1884,1000,5.0,7646,56.0,19.0,"7,3",NaN
1601,Wolf Creek,NaN,Drama|Horror|Thriller,English,Australia,NaN,NaN,2,NaN,NaN,...,457.0,206.0,1617,954,0.0,726,6.0,2.0,"7,1",NaN
1602,Wuthering Heights,NaN,Drama|Romance,English,UK,NaN,142.0,NaN,NaN,NaN,...,698.0,427.0,29196,0,2.0,6053,33.0,9.0,"7,7",NaN
1603,Yu-Gi-Oh! Duel Monsters,NaN,Action|Adventure|Animation|Family|Fantasy,Japanese,Japan,NaN,24.0,NaN,NaN,NaN,...,NaN,NaN,0,124,0.0,12417,51.0,6.0,7,NaN

11. visualizzare i titoli dei film che hanno incassato più di quanto è stato speso per realizzarli

In [23]:
df[df["Gross Earnings"] > df["Budget"]][["Title"]]

                          Title
0                    127 Hours
5          Alice in Wonderland
6          Alice in Wonderland
8              Alpha and Omega
15                   Beginners
...                         ...
1477           The Jungle Book
1483         The Perfect Match
1484  The Purge: Election Year
1485   The Secret Life of Pets
1486              The Shallows

[548 rows x 1 columns]

12.  visualizzare i film in cui ha recitato Johnny Depp

In [29]:
df[(df["Actor 1"] == "Johnny Depp")][["Title"]]

                                             Title
5                             Alice in Wonderland
6                             Alice in Wonderland
201                                   The Tourist
202                                   The Tourist
351   Pirates of the Caribbean: On Stranger Tides
357                                         Rango
493                                  Dark Shadows
874                               The Lone Ranger
1020                               Into the Woods
1145                                Transcendence
1148                                         Tusk
1187                                   Black Mass
1278                                    Mortdecai
1395              Alice Through the Looking Glass
1495                                  Yoga Hosers

13. visualizzare il regista che ha ricevuto più like su Facebook per un suo film

In [30]:
df[df["Facebook Likes - Director"] == df["Facebook Likes - Director"].max()][["Director"]]

                 Director
732  Joseph Gordon-Levitt

14. visualizzare i film che hanno avuto un numero di like superiore alla media dei like assegnati ai film

In [31]:
df[df["Facebook likes - Movie"] > df["Facebook likes - Movie"].mean()][["Title"]]

                                          Title
0                                    127 Hours
5                          Alice in Wonderland
6                          Alice in Wonderland
18                                    Biutiful
19                                  Black Swan
...                                         ...
1530                      Hannibal
1543                        Luther
1549                     Outlander
1568  Spartacus: War of the Damned
1580                 The Following

[515 rows x 1 columns]

15.  verificare se durano di più, in media, i film americani o i film tedeschi

In [36]:
print("i film americani durano di più" if df[df["Country"] == "USA"]["Duration"].mean() > df[df["Country"] == "Germany"]["Duration"].mean() else "i film tedeschi durano di più")

i film tedeschi durano di più

16.  aggiungere una colonna al dataframe contenente la somma dei like degli attori. Chiamare la colonna 'attori'

In [43]:
attori = df["Facebook Likes - Actor 1"] + df["Facebook Likes - Actor 2"] + df["Facebook Likes - Actor 3"]
df["Attori"] = attori
df

,Title,Year,Genres,Language,Country,Content Rating,Duration,Aspect Ratio,Budget,Gross Earnings,...,Facebook Likes - Actor 3,Facebook Likes - cast Total,Facebook likes - Movie,Facenumber in posters,User Votes,Reviews by Users,Reviews by Crtiics,IMDB Score,Unnamed: 25,Attori
0,127 Hours,2010.0,Adventure|Biography|Drama|Thriller,English,USA,R,94.0,"1,85",18000000.0,18329466.0,...,223.0,11984,63000,0.0,279179,440.0,450.0,"7,6",NaN,11865.0
1,3 Backyards,2010.0,Drama,English,USA,R,88.0,NaN,300000.0,NaN,...,301.0,1884,92,0.0,554,23.0,20.0,"5,2",NaN,1755.0
2,3,2010.0,Comedy|Drama|Romance,German,Germany,Unrated,119.0,"2,35",NaN,59774.0,...,9.0,69,2000,0.0,4212,18.0,76.0,"6,8",NaN,53.0
3,8: The Mormon Proposition,2010.0,Documentary,English,USA,R,80.0,"1,78",2500000.0,99851.0,...,5.0,210,0,0.0,1138,30.0,28.0,"7,1",NaN,208.0
4,A Turtle's Tale: Sammy's Adventures,2010.0,Adventure|Animation|Family,English,France,PG,88.0,"2,35",NaN,NaN,...,602.0,3874,0,2.0,5385,22.0,56.0,"6,1",NaN,2134.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1599,War & Peace,NaN,Drama|History|Romance|War,English,UK,TV-14,NaN,16,NaN,NaN,...,502.0,4528,11000,1.0,9277,44.0,10.0,"8,2",NaN,2390.0
1600,Wings,NaN,Comedy|Drama,English,USA,NaN,30.0,"1,33",NaN,NaN,...,424.0,1884,1000,5.0,7646,56.0,19.0,"7,3",NaN,1620.0
1601,Wolf Creek,NaN,Drama|Horror|Thriller,English,Australia,NaN,NaN,2,NaN,NaN,...,206.0,1617,954,0.0,726,6.0,2.0,"7,1",NaN,1174.0
1602,Wuthering Heights,NaN,Drama|Romance,English,UK,NaN,142.0,NaN,NaN,NaN,...,427.0,29196,0,2.0,6053,33.0,9.0,"7,7",NaN,28125.0
1603,Yu-Gi-Oh! Duel Monsters,NaN,Action|Adventure|Animation|Family|Fantasy,Japanese,Japan,NaN,24.0,NaN,NaN,NaN,...,NaN,0,124,0.0,12417,51.0,6.0,7,NaN,NaN

17.  rimuovere la colonna appena creata

In [44]:
del df["Attori"]
df

,Title,Year,Genres,Language,Country,Content Rating,Duration,Aspect Ratio,Budget,Gross Earnings,...,Facebook Likes - Actor 2,Facebook Likes - Actor 3,Facebook Likes - cast Total,Facebook likes - Movie,Facenumber in posters,User Votes,Reviews by Users,Reviews by Crtiics,IMDB Score,Unnamed: 25
0,127 Hours,2010.0,Adventure|Biography|Drama|Thriller,English,USA,R,94.0,"1,85",18000000.0,18329466.0,...,642.0,223.0,11984,63000,0.0,279179,440.0,450.0,"7,6",NaN
1,3 Backyards,2010.0,Drama,English,USA,R,88.0,NaN,300000.0,NaN,...,659.0,301.0,1884,92,0.0,554,23.0,20.0,"5,2",NaN
2,3,2010.0,Comedy|Drama|Romance,German,Germany,Unrated,119.0,"2,35",NaN,59774.0,...,20.0,9.0,69,2000,0.0,4212,18.0,76.0,"6,8",NaN
3,8: The Mormon Proposition,2010.0,Documentary,English,USA,R,80.0,"1,78",2500000.0,99851.0,...,12.0,5.0,210,0,0.0,1138,30.0,28.0,"7,1",NaN
4,A Turtle's Tale: Sammy's Adventures,2010.0,Adventure|Animation|Family,English,France,PG,88.0,"2,35",NaN,NaN,...,749.0,602.0,3874,0,2.0,5385,22.0,56.0,"6,1",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1599,War & Peace,NaN,Drama|History|Romance|War,English,UK,TV-14,NaN,16,NaN,NaN,...,888.0,502.0,4528,11000,1.0,9277,44.0,10.0,"8,2",NaN
1600,Wings,NaN,Comedy|Drama,English,USA,NaN,30.0,"1,33",NaN,NaN,...,511.0,424.0,1884,1000,5.0,7646,56.0,19.0,"7,3",NaN
1601,Wolf Creek,NaN,Drama|Horror|Thriller,English,Australia,NaN,NaN,2,NaN,NaN,...,457.0,206.0,1617,954,0.0,726,6.0,2.0,"7,1",NaN
1602,Wuthering Heights,NaN,Drama|Romance,English,UK,NaN,142.0,NaN,NaN,NaN,...,698.0,427.0,29196,0,2.0,6053,33.0,9.0,"7,7",NaN
1603,Yu-Gi-Oh! Duel Monsters,NaN,Action|Adventure|Animation|Family|Fantasy,Japanese,Japan,NaN,24.0,NaN,NaN,NaN,...,NaN,NaN,0,124,0.0,12417,51.0,6.0,7,NaN

18. eliminare dal dataframe i film italiani

In [55]:
df.drop(df[df["Country"] == "Italy"].index, inplace = True)